*.obj
*.log
*.pdb
*.ipdb
*.iobj
*.idb
*.tlog
*.ilk
*.ipch
*.opendb
*.db
.enc
*.dll
*.exp
*.lib
!*AutoTester*lib
*.user
*.suo
*.swp
*.exe
*.pch
*.lastbuildstate
*/Debug*
*/debug*
*/Release*
*/release*
*.vcxproj.filters
*.xml
*dummySimpleSource.txt
# Don't ignore .sln and .vcxproj, .ico, .rc, .rc2

AutomaticProjectTesting_Aug2015_VS2015/EmptyGeneralTesting/Release/iteration3queries.txt.rej
AutomaticProjectTesting_Aug2015_VS2015/EmptyGeneralTesting/UpgradeLog.htm
AutomaticProjectTesting_Aug2015_VS2015/EmptyGeneralTesting/Release/TestResult/**/*.txt
!AutomaticProjectTesting_Aug2015_VS2015/EmptyGeneralTesting/Release/TestResult/Summary.txt
!*.xsl
!**/*README*
