*.obj
*.log
*.pdb
*.idb
*.tlog
*.ilk
*.ipch
*.opendb
*.db
*.dll
*.exp
*.lib
!*AutoTester*lib
*.user
*.suo
*.exe
*.pch
*.lastbuildstate
*/Debug*
*/debug*
*/Release*
*/release*
*.vcxproj.filters
# Don't ignore .sln and .vcxproj, .ico, .rc, .rc2

